{% include "./pages/header.html" %}
    <section class="contact">
        <div class="social">
            <ul>
                
                <li><h3>Não encontrou oque procura? chame no WhatsApp:</h3></li>
                <li><a href="https://wa.me/5567992404458">whatsapp</a></li>
            </ul>

        </div>
        <div class="location">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3738.6741777725456!2d-54.661525499999996!3d-20.4374851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9486e76066d33039%3A0x2ebc6b05a8b8bea9!2scoutos%20conveni%C3%AAncia!5e0!3m2!1spt-BR!2sbr!4v1767064135050!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

{% include "./pages/footer.html" %}