{% load static %}
{% include "./pages/header.html" %}

<main>

    <!-- FILTRO -->
    <section class="filters">
        <form method="get">
            <label for="category">Escolha a categoria</label>

            <select name="category">
                <option value="">Todas</option>

                {% for category in list_categorys %}
                    <option value="{{ category.id }}"
                        {% if request.GET.category == category.id|stringformat:"s" %}
                            selected
                        {% endif %}
                    >
                        {{ category.nome }}
                    </option>
                {% endfor %}
            </select>

            <button type="submit">Filtrar</button>
        </form>
    </section>

    <!-- LISTA DE PRODUTOS -->
    <section class="products-list">
        {% for product in list_products %}
            <div class="cardproduct">

                {% if product.imagem %}
                    <img src="{{ product.imagem.url }}" alt="{{ product.nome }}" width="150">
                {% else %}
                    <img src="{% static 'img/placeholder.png' %}" alt="Sem imagem" width="150">
                {% endif %}

                <h2>{{ product.nome }}</h2>
                <p>R$ {{ product.preco }}</p>

                        <a href="{% url 'clique' product.id %}" class="btn">
                            Ver detalhes
                        </a>
                        <a href="{% url "WhatsApp" product.id %}"
                        class="btn"
                        target="_blank">
                        Comprar no WhatsApp
                        </a>

            </div>
        {% empty %}
            <p>Nenhum produto encontrado.</p>
        {% endfor %}
    </section>

</main>

{% include "./pages/footer.html" %}