{% load static %}
{% include "./pages/header.html" %}

<main>
    <section class="promotions">
        <h2>Promoções</h2>

        {% for product in products_promotion %}
            <div class="cardproduct">
                {% if product.imagem %}
                    <img src="{{ product.imagem.url }}">
                {% endif %}
                <h3>{{ product.nome }}</h3>
                <p class="price promo">R$ {{ product.preco }}</p>
                        <a href="{% url 'clique' product.id %}" class="btn">
                            Ver detalhes
                        </a>
                        <a href="{% url "WhatsApp" product.id %}"
                        class="btn"
                        target="_blank">
                        Comprar no WhatsApp
                        </a>
            </div>
        {% empty %}
            <p class="text-center">Nenhuma promoção ativa.</p>
        {% endfor %}
    </section>
</main>

{% include "./pages/footer.html" %}
